{% extends 'base.html.twig' %}

{% block title %} NTM {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    {% for article in articles %}
    <div>
        <h1>Real article s title : {{ article.title }}</h1>
        <h2>Category : {{ article.category.name }}</h2>
        <p>{{ article.content }}</p>
    </div>

    <a href="{{ path('blog_index') }}">
        Back to homepage.
    </a>
{% endfor %}
{% endblock %}